In [1]:
import pandas as pd
data=pd.read_csv("customer_data.csv")
data

                                                                                                                                        data.head()
customer_id  first_name  last_name  email                     gender  date_of_birth  city           state  country  purchase_date   purchase_amount
1            John        Doe        johndoe@email.com         Male    1990-03-15     New York       NY     USA      2022-01-15               100.00
2            Jane        Smith      janesmith@email.com       Female  1985-06-22     Los Angeles    CA     USA      2022-01-20                75.50
3            Robert      Johnson    robertjohnson@email.com   Male    1978-11-10     Chicago        IL     USA      2022-02-05               120.75
4            Emily       Williams   emily@email.com           Female  1995-08-29     Houston        TX     USA      2022-02-10                50.25
5            Michael     Brown      michaelbrown@email.com    Male    1980-04-18     Miami          FL     USA      2022-02-20               200.00
6            Susan       Miller     susanmiller@email.com     Female  1992-01-12     San Francisco  CA     USA      2022-03-01                45.30
7            William     Jackson    williamjackson@email.com  Male    1983-07-05     Boston         MA     USA      2022-03-05                80.20
8            Alice       Clark      aliceclark@email.com      Female  1998-09-14     Dallas         TX     USA      2022-03-15                95.75
9            David       White      davidwhite@email.com      Male    1975-12-03     Atlanta        GA     USA      2022-04-02               150.60
10           Olivia      Adams      olivia@email.com          Female  1987-02-25     Seattle        WA     USA      2022-04-10                70.40

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_csv("customer_data.csv")

##Explore the dataset:
# Display the first few rows
print(data.head())
# Check the shape of the dataset
print (df.shape)
# Check the data types of each column
print (df.dtypes)
# Check for missing values
print(df.isnul1().sum())
# Check basic statistics of numerical columns
print (df.describe ())

In [ ]:
##Data Cleaning:
# Check for missing values
missing_values = df.isnull().sum()
# Handle missing values (e.g., by dropping rows with missing data)
df = df.dropna()
# Convert categorical variables to numeric
df ['gender'] = df['gender'].map({'female': 0, 'male': 1})
# Convert a column to a different data type (e.g., from object to datetime)
df['date_of_purchase'] = pd.to_datetime(df['date_of_purchase'])
[x.strftime('%A') for x in df['TRX_DATE'] if not isinstance(x, pandas.tslib.NaTType)]
print(df.isnul1 ().sum())

# Correlation matrix
correlation_matrix = df.corr(numeric_only = True)
# Heatmap to visualize correlations
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix')
plt.show()

In [ ]:
# Bar plot of customer gender distribution
plt.figure(figsize=(6, 4))
sns.countplot(x='gender', data=data)
plt.title('Customer Gender Distribution')
plt.xlabel('Gender')
plt.ylabel('Count')
plt.show()